@mixin before_circle {
    &:before {
        content: '';
        position: absolute;
        width: 36px;
        height: 36px;
        border-radius: 100%;
        background: $main-color;
        z-index: -1;
        top: -25%;
        left: 0;
    }
}
@mixin before_bottom_circle {
    &:before {
        content: '';
        position: absolute;
        width: 36px;
        height: 36px;
        border-radius: 100%;
        background: $main-color;
        z-index: -1;
        top: 3%;
        left: 0;
    }
}
@mixin before_center_circle {
    &:before {
        content: '';
        position: absolute;
        width: 36px;
        height: 36px;
        border-radius: 100%;
        background: $main-color;
        z-index: -1;
        top: 4%;
        left: 50%;
        transform: translateX(-50%);
    }   
}

@mixin before_left_circle {
    &:before {
        content: '';
        position: absolute;
        width: 15px;
        height: 15px;
        background: $main-color;
        border-radius: 100%;
        left: -7px;
        top: 50%;
        transform: translateY(-50%);
    }
}