@media (max-width: 1439px) {
    .sidepanel {
        display: none;
    }
}
@media (max-width: 1200px) {
    .container {
        max-width: 960px;
    }
    .sidepanel {
        display: none;
    }
    .about {
        &__grid {
            grid-template-columns: 400px 520px;
            gap: 40px;
        }
        .subgrid {
            gap: 20px;
            grid-template-columns: repeat(3,250px);
        }
    }
    .resume {
        padding-top: 60px;
        &__wrapper {
            padding: 40px 0 0 0;
            column-gap: 100px;
        }
    }
    .skills {
        padding-top: 60px;
        &__container {
            padding-bottom: 30px;
            grid-template: repeat(3, 270px) / 1fr 1fr 1fr;
        }
        .progress {
            padding-top: 30px;
            grid-template:repeat(3, 70px) / 1fr 1fr 1fr ;
            row-gap: 35px;
            &__divider-grey {
                width: 100%;
            }
        }
    }
    .portfolio {
        &__wrapper {
            grid-template-columns: repeat(auto-fit, 280px);
            grid-auto-rows: 280px;
            justify-content: space-around;
            row-gap: 35px;
            .horizonal, .vertical {
                grid-row: unset;
                grid-column: unset;
            }
        }
    }
    .contacts {
        &__wrapper {
            justify-content: center;
            padding: 0;
            grid-template-columns: 350px 558px;
            column-gap: 20px;
        }
    }
}
@media (max-width: 992px) {
    .container {
        max-width: 720px;
    }
    .title {
        &_fz36 {
            font-size: 30px;
        }
    }
    .about {
        padding: 75px 0 0 0;
        #first {
            img {
                height: 100%;
                width: 100%;
                object-fit: cover;
            }
        }
        &__grid {
            grid-template-columns: auto 380px;
        }
        .subgrid {
            grid-template-columns: 360px;
            gap: 0;
            grid-auto-rows: minmax(116px, auto);
            &__elem {
                width: 320px;
            }
        }
    }
    .resume {
        padding-top: 60px;
        .title_fz36 {
            font-size: 22px;
        }
        &__wrapper {
            grid-template: auto auto / 1fr 1fr;
            padding: 30px 10px 0 10px;
            justify-content: space-between;
        }
        ul {
            li {
                position: relative;
                &:after {
                    content: '';
                    width: 1px;
                    height: 100%;
                    position: absolute;
                    top: -8px;
                    left: 0;
                    background-color: #000;
                }
            }    
        }  
    }
    .skills {
        padding-top: 60px;
        &__container {
            justify-content: center;
            padding-bottom: 30px;
            grid-template-columns: repeat(auto-fit, 270px);
        }
        .progress {
            padding-top: 30px;
            grid-template:repeat(3, 70px) / repeat(2, 1fr) ;
            row-gap: 35px;
            &__divider-grey {
                width: 100%;
            }
        }
    }
    .price {
        &__wrapp {
            grid-template-columns: repeat(auto-fit, 350px);
            padding: 30px 0 0 0;
        }
    }
    .contacts {
        &__photo {
            display: none;
        }
        &__wrapper {
            grid-template-columns: 585px;
        }
        
    }
}
@media (max-width: 768px) {
    .container {
        max-width: 540px;
    }
    .title {
        &_fz48 {
            font-size: 28px;
        }
    }
    .promo {
        &__title {
            line-height: 39px;
            width: 300px;
        }
    }
    .menu {
        &__block {
           width: 250px; 
           padding-left: 20px;
        }
    }
    .about {
        padding-top: 40px;
        &__grid {
            grid-template: 400px auto auto / 1fr;
        }
        #first {
            grid-row: 1/2;
        }
        #second {
            grid-row: 2/3;
        }
        #third {
            grid-row: 3/4;
            grid-column: 1/2;
            .subgrid {
                grid-template: auto/auto;
                &__elem {
                    width: 100%;
                }
            }
        }
    }
    .resume {
        padding-top: 60px;
        .title_fz36 {
            font-size: 22px;
        }
        &__wrapper {
            grid-template: auto auto / 1fr;
            padding: 30px 10px 0 10px;
            gap: 40px 0;
        }
        ul {
            li {
                position: relative;
                &:after {
                    content: '';
                    width: 1px;
                    height: 100%;
                    position: absolute;
                    top: -8px;
                    left: 0;
                    background-color: #000;
                }
            }    
        }  
    }
    .skills {
        padding-top: 60px;
        &__container {
            padding-bottom: 30px;
            grid-template: repeat(4, 270px) / 1fr 1fr;
        }
        .progress {
            padding-top: 30px;
            grid-template:repeat(6, 70px) / 1fr ;
            row-gap: 35px;
            &__divider-grey {
                width: 100%;
            }
        }
    }
    .portfolio {
        padding-top: 40px;
    }
    .price {
        padding-top: 40px;
        &__wrapp {
            margin-top: 20px;
            justify-content: space-around;
        }
    }
    .contacts {
        padding-top: 40px;
        &__wrapper {
            justify-content: center;
            padding: 0;
            grid-template-columns: 320px;
            
        }
        &__photo {
            display: none;
        }
        .title {
            &__contacts {
                font-size: 23px;
            }
        }
        &__form {
            grid-template: 45px 45px 190px minmax(45px, auto) / 300px;
        }
        &__textarea {
            grid-column: unset;
        }
        &__triggers {
            display: block;
            height: 110px;
            position: relative;
            grid-column: unset;
        }
        &__btn {
            width: 220px;
            position: absolute;
            bottom: 0;
            left: 50%;
            transform: translateX(-50%);
        }
        &__policy {
            padding-left: 10px;
            width: 220px;
            position: absolute;
            top: 0;
            left: 50%;
            transform: translateX(-50%);
            span {
                font-size: 14px;
                line-height: 20px;
            }
        }
        
    }
}
@media (max-width: 576px) {
    .container {
        width: 100%;
        padding: 0 10px;
    }
    .title {
        &_fz48 {
            font-size: 26px;
        }
        &_fz36 {
            font-size: 24px;
        }
    }
    .hamburger {
        right: 20px;
    }
    .promo {
        &__btns {
            margin-top: 30px;
        }
    }
    .about {
        padding: 30px 0 0 0;
        &__grid {
            grid-template: 340px auto auto / 1fr;
        }   
    }
    .resume {
        .title_fz36 {
            font-size: 22px;
        }
        &__wrapper {
            grid-template: auto auto / 1fr;
            padding: 30px 10px 0 10px;
            gap: 40px 0;
        }
        ul {
            li {
                position: relative;
                &:after {
                    content: '';
                    width: 1px;
                    height: 100%;
                    position: absolute;
                    top: -8px;
                    left: 0;
                    background-color: #000;
                }
            }    
        }   
    }
    .skills {
        &__container {
            padding-bottom: 30px;
            grid-template: repeat(7, 270px) / 270px;
            justify-content: center;
        }
        .progress {
            padding-top: 30px;
            grid-template:repeat(6, 70px) / 1fr ;
            row-gap: 35px;
            &__divider-grey {
                width: 100%;
            }
        }
    }
    .price {
        &__wrapp {
            grid-template-columns: repeat(auto-fit, 295px);
        }
    }
    .contacts {
        padding-top: 40px;
        &__wrapper {
            justify-content: center;
            padding: 0;
            grid-template-columns: 320px;
            
        }
        &__photo {
            display: none;
        }
        .title {
            &__contacts {
                font-size: 23px;
            }
        }
        &__form {
            grid-template: 45px 45px 190px minmax(45px, auto) / 300px;
        }
        &__textarea {
            grid-column: unset;
        }
        &__triggers {
            display: block;
            height: 110px;
            position: relative;
            grid-column: unset;
        }
        &__btn {
            width: 220px;
            position: absolute;
            bottom: 0;
            left: 50%;
            transform: translateX(-50%);
        }
        &__policy {
            padding-left: 10px;
            width: 220px;
            position: absolute;
            top: 0;
            left: 50%;
            transform: translateX(-50%);
            span {
                font-size: 14px;
                line-height: 20px;
            }
        }
        
    }   

}
