.skills {
    padding-top: 125px;
    &__main {
        margin-top: 7px;
        text-align: center;
    }
    &__container {
        display: grid;
        grid-template-columns: repeat(4, 270px);
        grid-template-rows: repeat(2, 270px);
        grid-auto-rows: minmax(270px, auto);
        gap: 13px;
        padding: 60px 10px 120px 10px;
    }
    &__item {
        padding: 30px 20px 20px 30px;
        border: 1px solid #000000;
    }
    &__img {
        display: flex;
        align-items: center;
        min-height: 65px;
    }
    &__title {
        margin-top: 20px;
        align-items: center;
    }
    &__text {
        margin-top: 15px;
        font-weight: 500;
        font-size: 12px;
        line-height: 18px;
        color: #000000;
    }
    .progress {
        display: grid;
        grid-template-columns: repeat(3, minmax(350px, auto));
        grid-template-rows: repeat(3, minmax(70px, auto));
        grid-auto-rows: minmax(70px, auto);
        padding-top: 120px;
        row-gap: 30px;
        column-gap: 45px;
        &__item {
        position: relative;
        }
        &__head {
            display: flex;
            justify-content: space-between;
            padding-top: 6px;
        }
        &__title {
            position: relative;
            padding-left: 12px;
            padding-top: 2px;
           @include before_circle;
        }
        &__repcent {
            font-weight: 500;
            font-size: 14px;
            line-height: 21px;
            color: #000000;
        }
        &__footer {
            margin-top: 27px;
        }
        &__divider-grey {
            position: absolute;
            width: 350px;
            height: 14px;
            background-color: #E8E4DE;
            border-radius: 4px;
            bottom: 0;
        }
        &__divider-orange {
            height: 14px;
            background-color: $main-color;
            border-radius: 4px;
        }
    }
}